@viewport {
  width: device-width;
  zoom: 1;
}
body {
  margin: 0px;
}

.App {
  text-align: center;
  margin: 0em 0 0 0;
  position: relative;
  min-height: 100vh;
  width: 100vw;
}

.navbar {
  padding: 1em 0 1em 0;
  background-color: darkcyan;
  top: 0px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0 0 0 1em;
  color: black;
  text-decoration: none;
}

.navLinks {
  font-size: large;
  font-weight: 500;
  margin-right: 1em;
  text-decoration: none;
}
.navLinks a {
  color: black;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.658);
  border-radius: 10% 10%;
  padding: 0.1em;
  margin: 0 0.25em 0 0.25em;
}

.navLinks a:visited {
  color: black;
}

.foot {
  position: absolute;
  color: white;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 4em;
  background-color: darkcyan;
}

/* Tracker components */
.tracker {
  border: black dashed;
  width: auto;
  height: 100%;
}

.expensesWindow {
  border: black solid;
  margin: 2em;
  padding: 2em;
  text-align: center;
  display: flex;
  justify-content: center;
}

table {
  border: purple dotted;
  padding: 1em;
  width: auto;
  max-width: 100%;
}

td {
  overflow: hidden;
  white-space: break-spaces;
  text-overflow: ellipsis;
}
/* Expenses */
.trackerView {
  display: flex;
  justify-content: space-evenly;
  margin: 1em;
  border: blue double;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
