@viewport {
  width: device-width;
  zoom: 1;
}
body {
  margin: 0px;
}

.App {
  text-align: center;
  margin: 0em 0 0 0;
  position: relative;
  min-height: 100vh;
}

.navbar {
  padding: 1em 0 1em 0;
  background-color: darkcyan;
  top: 0px;
  width: 100%;
}

.foot {
  position: absolute;
  color: white;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 4em;
  background-color: darkcyan;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
